:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.headerNav {
    background-color: #914F1E;
}

.logo {
    width: 115px !important;
    height: 115px !important;
}

.headerNav h1 {
    color: #FAEDCE !important;
}

.buttonBox {
    display: flex;
    justify-content: space-between;
    width: 15% !important;
    margin-right: 5% !important;
  }

.navBtn {
    background-color: #FAEDCE !important;
    color: #914F1E !important;
    border: solid 2px #CCD5AE;
    
}
