
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .headerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
  }
  
  .siteTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 27%;
    margin-left: 5%;
  }
  
  .siteTitle h1 {
    color: black;
  }
  
  .siteTitle img {
    height: 50px;
    width: 50px;
    margin-right: 2%;
  }
  
  .buttonBox {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-right: 5%;
  }
  
  .buttonBox button {
    border-radius: 5px;
    color: aliceblue;
    background-color: black;
    height: 30px;
    width: 70px;
    cursor: pointer;
  }
