*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    #root { 
        display: flex;
        flex-direction: column;
        min-height: 100vh; / Make it at least full height of the viewport */
      }
    
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: solid black 3px;
      height: 10vh;
      width: 100vw;
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid black 3px;
        height: 10vh;
        width: 100vw;
        position: relative;
        margin-top: auto;
      }
    