.homebody {
    background-color: rgba(0, 128, 0, 0.186);
    /* min-height: 90vh; */
    width: 100vw;
    overflow-x: hidden;
    /* margin-left: 5%;
    margin-right: 5%; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carousel {
    height: 50vh;
    width: 100vw;
}

.carousel-item img {
    height: 50vh;
    width: 90vw;
    object-fit: cover;
    border-bottom: solid black 3px;
}

.zone-info {
background-color: #B5C188 ;
width: 90vw;
height: 20vh;
margin-top: 1%;
}

.about-us {
background-color: #DEAC80;
width: 90vw;
height: 10vh;
margin-top: 1%;
margin-bottom: 1%;
}
