
.homeBody {
    background-color: #F7DCB9;
    min-height: 90vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carousel {
    height: 50vh;
    width: 100vw;
}

.carousel-item img {
    height: 50vh;
    width: 90vw;
    object-fit: cover;
    border-bottom: solid #914F1E 3px;
}

.aboutUsBox {
    display: flex;
    align-content: space-around;
    gap: 5%;
    margin: 2% ;
    text-align: center;
    width: 90vh;
    height: 47vh;
}

.column1, .column2 {
    padding-top: 1%;
    float: left;
    width: 50%;
    border: solid 3px #914F1E;
    background-color: #CCD5AE;
}
 .column1 h1, .column2 h1 {
    color: #914F1E;
    font-size: 1.5rem;
 }

 /* //paragraph content */
 .column1 h2, .column2 h2 {
    color: #914F1E;
    font-size: 1.2rem;
 }

 .benefitsdiv {
    display: flex;
    align-content: space-around;
    margin: 1% ;
    text-align: center;
    width: 50vh;
    height: 30vh;
    border: solid 1px #914F1E;
}

.benefits {
    padding-top: 2%;
    float: left;
    width: 100%;
    border: solid 1px #914F1E;
    background-color: #CCD5AE;
    color: #914F1E !important;
 }



 /* Leaving in the below css just in case we revert back to stacked boxes and not side by side boxes. */
/* .aboutUsBox {
    width: 90vw;
    height: 20vh;
    background-color: #CCD5AE;
    margin-top: 2%;
}

.aboutUsBox h1, h2 {
    padding-top: 2.5%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    color: #914F1E !important;
}

.plantFinderBox {
    width: 90vw;
    height: 30vh;
    background-color: #CCD5AE;
    margin-top: 2%;
    margin-bottom: 1%;
}

.plantFinderBox h1, h2 {
    padding-top: 2.5%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    color: #914F1E !important;
} */

