:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.kite-one-regular {
    font-family: "Kite One", sans-serif;
    font-weight: 400;
    font-style: normal;
} 

body {
    font-family: "Kite One", sans-serif;
    background-color: rgb(236, 228, 228);
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    border: 1px solid #c58859;
    
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header {
    background-color: #ca783a;
    border: 1px solid #FAEDCE;
    color: #ffffff;
    text-align: center;
}

.header h1 {
    color: #FAEDCE;
}

.footer {
    background-color: #ca783a;
    border: 1px solid #FAEDCE;
    color: #FAEDCE;
    height: 75px;
    text-align: center;
}

.main {
    text-align: left;
    background-color: #FAEDCE;
    border: 1px solid #c58859;
    height: 500px;
    text-align: center;
}

.plantimage {
    padding: 15px;
}

.plantname h2 {
    padding-top: 0px;
    color: #914F1E;
}

.secondary {
    text-align: left;
    background-color: #FAEDCE;
    border: 1px solid #c58859;
    color: #914F1E;
    height: 210px;
    text-align: center;
}

.third {
    text-align: left;
    background-color: #CCD5AE;
    border: 1px solid #c58859;
    color: #914F1E;
    height: 210px;
    text-align: center;
}

.aside-1 {
    background-color: #CCD5AE;
    border: 1px solid #c58859;
    color: #914F1E;
    text-align: center;
}

.aside-2 {
    background-color: #CCD5AE;
    border: 1px solid #c58859;
    color: #914F1E;
    text-align: center;
}

@media all and (min-width: 600px) {
    .aside { flex: 1 0 0;}
}

@media all and (min-width: 800px) {
    .main      { flex: 4 0px; }
    .aside-1    { order: 1; }
    .main       { order: 2; } 
    .aside-2    { order: 3; }
    .secondary  { order: 4; }
    .third      { order: 5; }
    .footer     { order: 6; }
}


