.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 80vw;
    height: 80vh;
    position: relative;
    overflow-y: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.add-button {
    position: absolute;
    top: 10px;

    right: 100px;

    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}