/* Main container for the profile page */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: #FEFAE0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(8, 8, 8, 0.1);
    height: 81vh;
}

/* Title section */
.Name {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #75A47F;
}

/* Location section */
.Location,
.Planet,
.Recent,
.History {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Subtitle styles */
h2 {
    font-size: 1.75rem;
    color: #75A47F;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.25rem;
    color: #914F1E;
}

/* Loading state */
p {
    font-size: 1rem;
    color: #914F1E;
}

/* Search area styling */
.SearchBarArea,
.SearchBarPlant {
    padding: 10px;
    border: 1px solid #914F1E;
    border-radius: 4px;
    background-color: #B5C18E;
}

/* Recent searches */
.Recent {
    padding: 36px;
    background-color: #E0E5B6;
    border-radius: 5px;
    border: 1px solid #914F1E;
}

.Recent div {
    font-size: 1.3rem;
    color: #75A47F;
    padding: 10px;
}

/* Your Zone section */
.History {
    padding: 15px;
    background-color: #E0E5B6;
    border-radius: 5px;
    border: 1px solid #914F1E;
}

.profile-info-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.profile-header-img img {
    max-width: 100%;
}


.profile-header {
    position: relative;
    overflow: hidden;
}
.profile-header .profile-header-cover {
    background:#dd9332  center no-repeat;
    background-size: 100% auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.profile-header .profile-header-cover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.85) 100%);
}
.profile-header .profile-header-content,
.profile-header .profile-header-tab,
.profile-header-img,
body .fc-icon {
    position: relative;
}
.profile-header .profile-header-tab {
    background: #fff;
    list-style-type: none;
    margin: -1.25rem 0 0;
    padding: 0 0 0 8.75rem;
    border-bottom: 1px solid #c8c7cc;
    white-space: nowrap;
}
.profile-header .profile-header-tab > li {
    display: inline-block;
    margin: 0;
}
.profile-header .profile-header-tab > li > a {
    display: block;
    color: #000;
    line-height: 1.25rem;
    padding: 0.625rem 1.25rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.75rem;
    border: none;
}

.profile-header .profile-header-content:after,
.profile-header .profile-header-content:before {
    content: "";
    display: table;
    clear: both;
}
.profile-header .profile-header-content {
    color: #fff;
    padding: 1.8rem;
}
/* }
body .fc th a,
body .fc-ltr .fc-basic-view .fc-day-top .fc-day-number,
body .fc-widget-header a {
    color: #0a0a0a;
} */
.profile-header-img {
    float: left;
    width: 7.5rem;
    height: 7.5rem;
    overflow: hidden;
    /* z-index: 10; */
    margin: 0 1.25rem -1.25rem 0;
    padding: 0.18rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    background: #fff;
}
.profile-header-info h4 {
    font-weight: 500;
    margin-bottom: 0.3125rem;
}
.profile-container {
    padding: 1.5629rem;
}

 .profile-header-info {
  margin-left: 6.5625rem;
  padding-bottom: 0.9375rem;
 }

    .profile-header .profile-header-tab {
        padding-left: 0;
    }

    .profile-header-img {
        width: 4.75rem;
        height: 4.75rem;
        margin: 0;
    }
  
    .profile-container {
        padding: 0.9375rem 0.9375rem 3.6875rem;
    }

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    margin-left: 2%;
}

.delete-button img {
    width: 70px;
    height: 70px;
    fill: currentColor;
}

.delete-button:hover {
    background: transparent;
    color: inherit;
    opacity: 1;
}